/** {
  box-sizing: border-box;
}*/

html { 
  background: url("/wood 2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
  max-width: 60em;
  margin: 1.25em auto;
}

body {
  background-color: none;
}

.clear {
  clear: both;
}

/*main {
  padding: 1.25em;
  width: 66%;
  float: left;
  border-right: 1px solid #ccc;
}*/

/*aside {
  padding: 1.25em;
  width: 34%;
  float: right;
}*/

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

.stepsList {
  text-align: center
}

.steps {
  display: inline-block;
  float: left;
  border-color: black;
  border-style: solid;
  border: 3em;
}

div.buttons div, div.buttons, div.steps {
  display: inline-block;
  text-align: justify;
  float: left;
  padding: .5em;
  margin-left: 2em;
}  

